*body {
background-color: cyan;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  body 
   {
background-color: aqua;

     */   


   }

   .evszakok{
    margin: 1%;
    float: left;
    transition: .8s;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}



.evszakok img {
  border: 3px solid black;
  border-radius: 20px;
  width: 30%;
  height: 4 0%;
}

.evszakok:hover {
  transform: scale(1.1);
}


html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#láb {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #76b2ff;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;

}

.main {
  float: right ;
  width: 60%;
  padding: 0 20px;
}

.right {
  background-color: #0c51aa;
  float: right;
  width: 30%;
  padding: 15px;
  margin-top: auto;
  text-align: left;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

body{
  background-color: #0e64d3;


}


.randomxd {
  background-color: #045ea7f5;
  float: right;
  width: 30%;
  padding: 15px;
  margin-top: 17px;
  text-align: center;
  color: black;

}

.login{

 text-align:end;
 width: 70%;
 height: 30%;

}



